server {
    listen       ${NGINX_PORT} default_server;
    listen       [::]:${NGINX_PORT} default_server;
    server_name  _;

    location / {
        proxy_pass http://api:${PORT}/;
        proxy_set_header X-Request-Id $request_id;
    }
}